@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "Inter", sans-serif;
  --font-body: "Satoshi", "Inter", sans-serif;
}

:root {
  font-family: var(--font-body);
  background-color: #0a0a0a; /* Dark theme by default for minimal premium look */
  color: #ededed;
  scroll-behavior: smooth;
}

::selection {
  background-color: #ffffff;
  color: #000000;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
